### Question 1

Load the 49 Value Weighted industry portfolio returns. Limit the analysis to returns of the 49 VW portfolios from 1991 onwards (1991 included, 1990 not included, 2018 included). Also load the Fama French Research Factors over the same period. Use the Mkt-RF as in the lab notebooks to compute the CAPM betas.
What is the CAPM (Single Factor) Beta when evaluated over the entire period (1991-2018) of Beer?

0.53

In [180]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import edhec_risk_kit_201 as erk

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [181]:
ind49 = pd.read_csv(f"data/ind49_m_vw_rets.csv", header=0, index_col=0, na_values=-99.99)/100
ind49.index = pd.to_datetime(ind49.index, format="%Y%m").to_period('M')
ind49.columns = ind49.columns.str.strip()

In [185]:
ind49_9118B = ind49.loc['1991':'2018',['Beer']]

In [186]:
ind49_9118B.head()

           Beer
1991-01  0.0465
1991-02  0.1084
1991-03  0.0567
1991-04 -0.0401
1991-05  0.0386

In [184]:
fff = erk.get_fff_returns()
fff.head()

         Mkt-RF     SMB     HML      RF
1926-07  0.0296 -0.0230 -0.0287  0.0022
1926-08  0.0264 -0.0140  0.0419  0.0025
1926-09  0.0036 -0.0132  0.0001  0.0023
1926-10 -0.0324  0.0004  0.0051  0.0032
1926-11  0.0253 -0.0020 -0.0035  0.0031

In [187]:
beer_excess = ind49_9118B - fff.loc['1991':'2018', ['RF']].values
mkt_excess = fff.loc['1991':'2018',['Mkt-RF']]
exp_var = mkt_excess.copy()
exp_var["Constant"] = 1
lm = sm.OLS(beer_excess, exp_var).fit()

In [188]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Beer   R-squared:                       0.226
Model:                            OLS   Adj. R-squared:                  0.224
Method:                 Least Squares   F-statistic:                     97.55
Date:                Mon, 16 Aug 2021   Prob (F-statistic):           2.37e-20
Time:                        03:17:53   Log-Likelihood:                 596.94
No. Observations:                 336   AIC:                            -1190.
Df Residuals:                     334   BIC:                            -1182.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mkt-RF         0.5295      0.054      9.877      0.000       0.424       0.635
Constant       0.0043      0.002      1.892      0.059      -0.000       0.009
==============================================================================
Omnibus:                       20.697   Durbin-Watson:                   2.079
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               43.130
Skew:                          -0.314   Prob(JB):                     4.31e-10
Kurtosis:                       4.639   Cond. No.                         23.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Question 2
Using the same data as the previous question, what is the CAPM Beta when evaluated over the entire period (1991-2018) of Steel?

1.55

In [189]:
ind49_9118S = ind49.loc['1991':'2018',['Steel']]
ind49_9118S.head()

          Steel
1991-01  0.0819
1991-02  0.0664
1991-03  0.0053
1991-04 -0.0010
1991-05  0.0420

In [191]:
steel_excess = ind49_9118S - fff.loc['1991':'2018', ['RF']].values
mkt_excess = fff.loc['1991':'2018',['Mkt-RF']]
exp_var = mkt_excess.copy()
exp_var["Constant"] = 1
lm_Steel = sm.OLS(steel_excess, exp_var).fit()

In [192]:
lm_Steel.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Steel   R-squared:                       0.631
Model:                            OLS   Adj. R-squared:                  0.630
Method:                 Least Squares   F-statistic:                     572.0
Date:                Mon, 16 Aug 2021   Prob (F-statistic):           2.29e-74
Time:                        03:19:58   Log-Likelihood:                 532.25
No. Observations:                 336   AIC:                            -1061.
Df Residuals:                     334   BIC:                            -1053.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mkt-RF         1.5546      0.065     23.917      0.000       1.427       1.682
Constant      -0.0055      0.003     -2.014      0.045      -0.011      -0.000
==============================================================================
Omnibus:                       24.614   Durbin-Watson:                   2.016
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.413
Skew:                           0.456   Prob(JB):                     6.17e-10
Kurtosis:                       4.482   Cond. No.                         23.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [194]:
result_steel = erk.regress(steel_excess, exp_var)

In [195]:
result_steel.params

Mkt-RF      1.55461
Constant   -0.00277
Alpha      -0.00277
dtype: float64

### Question 3
Using the same data as the previous question, what is the CAPM Beta when evaluated over the 2013-2018 (both included) period of Beer?

0.59

In [196]:
ind49_1318B = ind49.loc['2013':'2018',['Beer']]
ind49_1318B.head()

           Beer
2013-01  0.0507
2013-02  0.0522
2013-03  0.0531
2013-04  0.0355
2013-05 -0.0147

In [199]:
beer_excess1318 = ind49_1318B - fff.loc['2013':'2018', ['RF']].values
mkt_excess1318 = fff.loc['2013':'2018',['Mkt-RF']]
exp_var1318 = mkt_excess1318.copy()
exp_var1318["Constant"] = 1
lm_Beer1318 = sm.OLS(beer_excess1318, exp_var1318).fit()

In [200]:
lm_Beer1318.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Beer   R-squared:                       0.313
Model:                            OLS   Adj. R-squared:                  0.303
Method:                 Least Squares   F-statistic:                     31.87
Date:                Mon, 16 Aug 2021   Prob (F-statistic):           3.27e-07
Time:                        03:27:58   Log-Likelihood:                 155.66
No. Observations:                  72   AIC:                            -307.3
Df Residuals:                      70   BIC:                            -302.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mkt-RF         0.5860      0.104      5.645      0.000       0.379       0.793
Constant       0.0045      0.003      1.289      0.201      -0.002       0.011
==============================================================================
Omnibus:                        5.069   Durbin-Watson:                   2.196
Prob(Omnibus):                  0.079   Jarque-Bera (JB):                4.535
Skew:                          -0.610   Prob(JB):                        0.104
Kurtosis:                       3.155   Cond. No.                         31.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [202]:
result_Beer1318 = erk.regress(beer_excess1318, exp_var1318)
result_Beer1318.params

Mkt-RF      0.585960
Constant    0.002243
Alpha       0.002243
dtype: float64

### Question 4
Using the same data set as the previous question, what is the CAPM Beta when evaluated over the 2013-2018 (both included) period of Steel? 

1.42

In [203]:
ind49_1318S = ind49.loc['2013':'2018',['Steel']]
ind49_1318S.head()

          Steel
2013-01  0.0428
2013-02 -0.0268
2013-03  0.0210
2013-04 -0.0441
2013-05  0.0384

In [204]:
steel_excess1318 = ind49_1318S - fff.loc['2013':'2018', ['RF']].values
mkt_excess1318 = fff.loc['2013':'2018',['Mkt-RF']]
exp_var1318 = mkt_excess1318.copy()
exp_var1318["Constant"] = 1
lm_Steel1318 = sm.OLS(steel_excess1318, exp_var1318).fit()

In [205]:
lm_Steel1318.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Steel   R-squared:                       0.470
Model:                            OLS   Adj. R-squared:                  0.463
Method:                 Least Squares   F-statistic:                     62.18
Date:                Mon, 16 Aug 2021   Prob (F-statistic):           2.97e-11
Time:                        03:30:55   Log-Likelihood:                 116.15
No. Observations:                  72   AIC:                            -228.3
Df Residuals:                      70   BIC:                            -223.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mkt-RF         1.4169      0.180      7.885      0.000       1.059       1.775
Constant      -0.0098      0.006     -1.627      0.108      -0.022       0.002
==============================================================================
Omnibus:                        7.128   Durbin-Watson:                   2.188
Prob(Omnibus):                  0.028   Jarque-Bera (JB):                6.420
Skew:                           0.635   Prob(JB):                       0.0403
Kurtosis:                       3.727   Cond. No.                         31.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [206]:
result_Steel1318 = erk.regress(steel_excess1318, exp_var1318)
result_Steel1318.params

Mkt-RF      1.416945
Constant   -0.004899
Alpha      -0.004899
dtype: float64

### Question 5
Using the same data as the previous question, which of the 49 industries had the highest CAPM Beta when evaluated over the 1991-1993 (both included) period? (Use the same industry names as in the files).  

Hlth

### Question 6
Using the same data as the previous question, which of the 49 industries had the lowest CAPM Beta when evaluated over the 1991-1993 (both included) period? (Use the same industry names as in the files) . 

Gold

In [249]:
ind49_9193 = erk.get_ind_returns()["1991":"1993"]
ind49_9193.head()

,Food,Beer,Smoke,Games,Books,Hshld,Clths,Hlth,Chems,Txtls,...,Telcm,Servs,BusEq,Paper,Trans,Whlsl,Rtail,Meals,Fin,Other
1991-01,0.0325,0.0465,0.0268,0.0566,0.0886,0.0081,0.1821,0.0453,0.0565,0.1105,...,0.0018,0.1383,0.1422,0.0527,0.1229,0.0309,0.1174,0.0137,0.0718,0.1018
1991-02,0.1189,0.1084,0.0768,0.1096,0.0357,0.0639,0.1453,0.0985,0.0612,0.1210,...,0.0341,0.0692,0.0602,0.0561,0.0545,0.0849,0.0765,0.1331,0.1084,0.0479
1991-03,0.0603,0.0567,0.0137,-0.0156,0.0121,0.0414,0.0397,0.0543,-0.0024,0.0321,...,0.0234,0.0604,-0.0057,0.0150,-0.0183,0.0321,0.0935,0.1012,0.0581,0.0042
1991-04,-0.0086,-0.0401,-0.0347,-0.0286,0.0241,-0.0144,0.0159,-0.0112,0.0334,0.0289,...,0.0112,-0.0131,-0.0304,0.0124,0.0364,0.0150,0.0263,-0.0240,0.0173,-0.0017
1991-05,0.0287,0.0386,0.0394,0.0395,0.0440,0.0405,0.0102,0.0461,0.1003,0.0446,...,-0.0145,0.0456,0.0351,0.0837,0.0783,0.0659,0.0813,0.0484,0.0464,0.0443

In [209]:
ind_excess9193 = ind49_9193 - fff.loc['1991':'1993', ['RF']].values
mkt_excess9193 = fff.loc['1991':'1993',['Mkt-RF']]
exp_var9193 = mkt_excess9193.copy()
exp_var9193["Constant"] = 1

In [265]:
result_ind9193 = erk.regress(ind_excess9193, exp_var9193)
Q5 = result_ind9193.params.iloc[0,:] 
#result_ind9193.params

In [268]:
Q5.sort_values()

26   -0.553289
27    0.274762
30    0.379527
28    0.529958
29    0.550604
25    0.561699
46    0.599248
39    0.633817
31    0.715867
38    0.717202
22    0.747721
23    0.793492
13    0.888434
45    0.936094
18    0.946205
32    0.972024
7     0.986829
8     1.014178
34    1.022070
0     1.028381
33    1.028505
6     1.028674
41    1.032115
5     1.057596
20    1.090068
47    1.091541
15    1.130668
43    1.145343
40    1.168375
14    1.169451
16    1.171774
3     1.198078
24    1.209703
21    1.217794
42    1.227398
19    1.245248
12    1.248732
37    1.253022
1     1.262609
36    1.272863
2     1.319035
4     1.323776
44    1.359233
48    1.454826
11    1.473925
9     1.516927
17    1.520882
35    1.608340
10    1.615195
Name: Mkt-RF, dtype: float64

In [270]:
ind49.iloc[:,[26]]

           Gold
1926-07     NaN
1926-08     NaN
1926-09     NaN
1926-10     NaN
1926-11     NaN
...         ...
2018-08 -0.1531
2018-09 -0.0240
2018-10  0.0051
2018-11  0.0248
2018-12  0.0719

[1110 rows x 1 columns]

In [271]:
ind49.iloc[:,[10]]

           Hlth
1926-07     NaN
1926-08     NaN
1926-09     NaN
1926-10     NaN
1926-11     NaN
...         ...
2018-08  0.0585
2018-09 -0.0045
2018-10 -0.0659
2018-11  0.0356
2018-12 -0.1546

[1110 rows x 1 columns]

### Question 7
For the next 4 questions use the Full 3 Factor Fama-French model using the research data supplied in the following data file:

F-F_Research_Data_Factors.csv

and the same 1991-2018 period you have just used for the previous questions. 

Of the 49 industries, which displayed the highest Small Cap tilt when analyzed over the entire 1991-2018 period?

FabPr

### Question 8
Using the same dataset and period as the previous question, of the 49 industries, which displayed the highest Large Cap tilt when analyzed over the entire period? 
 
Beer

### Question 9
Using the same data as period as the previous question, of the 49 industries, which displayed the highest Value tilt when analyzed over the entire period?    
 
Txtls

### Question 10
Using the same data set and period as the previous question, of the 49 industries, which displayed the highest Growth tilt when analyzed over the entire period?

Softw

In [311]:
np.shape(ind49['1991':'2018'])

(336, 49)

In [312]:
np.shape(fff.loc['1991':'2018', ['RF']].values)

(336, 1)

In [319]:
fff_DF = np.tile(fff.loc['1991':'2018', ['RF']].values, 49)
np.shape(fff_DF)

(336, 49)

In [330]:
ind_excess9118 = ind49['1991':'2018'] - fff_DF
mkt_excess9118 = fff.loc['1991':'2018',['Mkt-RF']]
exp_var9118 = mkt_excess9118.copy()
exp_var9118["Constant"] = 1
exp_var9118["Value"] = fff.loc['1991':'2018',['HML']]
exp_var9118["Size"] = fff.loc['1991':'2018',['SMB']]
exp_var9118.head()

         Mkt-RF  Constant   Value    Size
1991-01  0.0469         1 -0.0184  0.0379
1991-02  0.0719         1 -0.0054  0.0395
1991-03  0.0265         1 -0.0123  0.0389
1991-04 -0.0028         1  0.0142  0.0050
1991-05  0.0365         1 -0.0057 -0.0034

In [331]:
Q78910 = erk.regress(ind_excess9118, exp_var9118, alpha=False).params
Q78910

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
Mkt-RF,0.684404,0.558117,0.817167,0.590261,0.590791,0.939820,1.326548,1.025644,0.646211,1.011445,...,1.021802,0.973939,0.863755,0.898433,0.781258,1.200674,1.026859,1.150121,1.413037,1.088396
Constant,0.002848,0.002489,0.003340,0.004493,0.004717,-0.003202,0.000081,-0.003660,0.002381,0.001077,...,-0.000447,0.000080,-0.001028,0.002438,0.003265,-0.001089,0.000658,-0.006657,0.000239,-0.006365
Value,0.131897,0.156536,0.397642,0.006329,0.266018,0.423761,0.310497,0.435918,0.125855,0.345496,...,0.283365,0.432217,0.286591,0.021793,0.259776,0.839294,0.570370,0.896931,0.239309,0.283131
Size,0.165856,-0.267873,-0.121587,-0.358655,-0.307794,0.329862,0.281732,0.137026,-0.171127,0.057455,...,-0.000577,0.031009,0.265499,-0.041055,-0.094673,-0.188034,-0.251649,0.687456,0.121906,-0.019304

In [338]:
Q78 = Q78910.iloc[3,:].sort_values()
Q78

3    -0.358655
12   -0.319486
4    -0.307794
1    -0.267873
45   -0.251649
31   -0.194233
44   -0.188034
30   -0.176927
8    -0.171127
23   -0.141608
2    -0.121587
43   -0.094673
42   -0.041055
38   -0.029786
13   -0.024151
21   -0.024050
48   -0.019304
29   -0.015416
25   -0.007007
39   -0.000577
40    0.031009
9     0.057455
35    0.066100
47    0.121906
11    0.125676
7     0.137026
0     0.165856
24    0.167156
16    0.195020
34    0.197752
33    0.200393
22    0.206325
10    0.234674
41    0.265499
27    0.267865
32    0.273150
6     0.281732
26    0.289094
36    0.319935
5     0.329862
20    0.353644
17    0.408917
14    0.448314
37    0.465178
18    0.493311
28    0.534373
15    0.535961
46    0.687456
19    0.688508
Name: Size, dtype: float64

In [339]:
ind49.iloc[:,[3]]

           Beer
1926-07 -0.0519
1926-08  0.2703
1926-09  0.0402
1926-10 -0.0331
1926-11  0.0729
...         ...
2018-08 -0.0186
2018-09  0.0019
2018-10 -0.0157
2018-11  0.0579
2018-12 -0.0969

[1110 rows x 1 columns]

In [340]:
ind49.iloc[:,[19]]

          FabPr
1926-07     NaN
1926-08     NaN
1926-09     NaN
1926-10     NaN
1926-11     NaN
...         ...
2018-08 -0.0082
2018-09  0.0236
2018-10 -0.1058
2018-11 -0.0437
2018-12 -0.0316

[1110 rows x 1 columns]

In [341]:
Q910 = Q78910.iloc[2,:].sort_values()
Q910

35   -0.852422
34   -0.690417
36   -0.600139
37   -0.261102
12   -0.228132
31   -0.050983
11   -0.045616
33   -0.023917
3     0.006329
42    0.021793
26    0.123336
8     0.125855
0     0.131897
21    0.132064
1     0.156536
47    0.239309
43    0.259776
4     0.266018
48    0.283131
39    0.283365
41    0.286591
30    0.294311
20    0.302361
6     0.310497
18    0.318073
9     0.345496
32    0.356625
2     0.397642
29    0.421705
5     0.423761
23    0.429772
40    0.432217
7     0.435918
13    0.459268
38    0.466115
14    0.466929
10    0.488236
19    0.490916
28    0.497821
27    0.565671
45    0.570370
25    0.591323
17    0.607808
16    0.608665
24    0.773196
22    0.797194
44    0.839294
46    0.896931
15    0.983560
Name: Value, dtype: float64

In [342]:
ind49.iloc[:,[15]]

          Txtls
1926-07  0.0039
1926-08  0.0814
1926-09  0.0231
1926-10  0.0100
1926-11  0.0311
...         ...
2018-08  0.0380
2018-09 -0.0638
2018-10 -0.2579
2018-11  0.0292
2018-12 -0.1009

[1110 rows x 1 columns]

In [343]:
ind49.iloc[:,[35]]

          Softw
1926-07     NaN
1926-08     NaN
1926-09     NaN
1926-10     NaN
1926-11     NaN
...         ...
2018-08  0.0502
2018-09 -0.0033
2018-10 -0.0938
2018-11  0.0110
2018-12 -0.0722

[1110 rows x 1 columns]